<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <h1 id="site-heading">Face API</h1>
        <h5 id="site-heading-cation">Powered by Azure Face API</h5>
        <nav id="header-inline-menu">
            <a class="api-menu api-1-color" href="">Face Detection API</a>
        </nav>
    </header>
    <hr id="bottom-border-for-header">