<%- include('../partials/header.ejs') %>
<main class="about-page">
<h2>About</h2>

<p><em>Face API</em> is powered by <i>Microsoft Azure Face API</i>. Using this API endpoint you can Try "Azure Face API" without signing up for the Azure account or even required API key to access the "Azure Face API". But it also comes with cons, currently it does not support all the features of Face API and have a limit on number of request allowed.</p>

<h2>Little description about Azure Face API</h2>
<p>The Azure Face service provides AI algorithms that detect, recognize, and analyze human faces in images. Facial recognition software is important in many different scenarios, such as security, natural user interface, image content analysis and management, mobile apps, and robotics.</p>
</main>
<%- include('../partials/footer.ejs') %>